@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-family: 'BentonSans';
  src: url('fonts/BentonSansRegular.woff2') format('woff2'),
    url('fonts/BentonSansRegular.ttf') format('ttf'),
    url('fonts/BentonSansRegular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-family: 'BentonSans';
  src: url('fonts/BentonSansMedium.woff2') format('woff2'),
    url('fonts/BentonSansMedium.ttf') format('ttf'),
    url('fonts/BentonSansMedium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-family: 'BentonSans';
  src: url('fonts/BentonSansBold.woff2') format('woff2'),
    url('fonts/BentonSansBold.ttf') format('ttf'),
    url('fonts/BentonSansBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  font-family: 'BentonSans';
  src: url('fonts/BentonSansBlack.woff2') format('woff2'),
    url('fonts/BentonSansBlack.ttf') format('ttf'),
    url('fonts/BentonSansBlack.woff') format('woff');
}
