<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/png" href="img/favicon/xelon-favicon.png">
    <title>HSS</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon//apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon//favicon-16x16.png">
    <link rel="manifest" href="img/favicon//site.webmanifest">
    <link rel="mask-icon" href="img/favicon//safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="hss-header">
        <div class="hss-header__wrapper">
            <button class="hss-header__burger-button hss-burger-button hss-header__button">
                <svg width='20px' height='13px'>
                    <use xlink:href='#burger-button'></use>
                </svg>
            </button>
            <a href="#" class="hss-header__logo hss-header__logo--small">
                <img src="img/base/hss-logo.jpg" alt="logo" class="hss-header__logo-img">
            </a>
            <button class="hss-header__search-button hss-search-button hss-header__button">
                <svg width='18px' height='12px'>
                    <use xlink:href='#search'></use>
                </svg>
            </button>
        </div>
    </header>
