<div class="section section-intro">
    <section class="hss-intro hss-screen">
        <h5 class="hss-screen-title hss-intro__title">
            Introduction
        </h5>
        <div class="hss-screen-wrapper">
            <h2 class="hss-screen-main-title">
                The Sports Medicine Institute at HSS.<br> The Best in the Field.
            </h2>
            <div class="hss-screen-video hss-screen__video">
                <img src="img/base/video-1.jpg" alt="video" class="hss-screen-video__img">
            </div>
            <p class="hss-screen-text">
                Learn how the Sports Medicine Institute was founded, followed by a word from
                Dr. Andrew Pearle, MD, Chief of Sports Medicine at HSS.
            </p>
        </div>
        <button class="hss-slide-arrow" data-slide-arrow>
            <svg width='38px' height='20px'>
                <use xlink:href='#arrow'></use>
            </svg>
        </button>
    </section>
</div>
