<div class="section section-intro">
    <section class="hss-screen">
        <div class="hss-back-banner">
            <img src="img/bg/first-screen-banner.jpg" alt="bg" class="hss-back-banner__img">
        </div>
        <a href="#" class="hss-logo">
            <img src="img/base/hss-logo.jpg" alt="logo">
        </a>
        <div class="hss-screen-wrapper">
            <h2 class="hss-title--h2 hss-main-screen__subtitle">
                <strong>HSS</strong> Sports Medicine Institute
            </h2>
            <h1 class="hss-title--h1 hss-main-screen__title">
                A<br>
                LIVING<br>
                HISTORY<br>
                OF<br>
                SPORTS<br>
                MEDICINE
            </h1>
            <p class="hss-screen-text">
                Explore the field of sports medicine at HSS<br>
                from 1863 to present.
            </p>
        </div>
        <button class="hss-slide-arrow" data-slide-arrow>
            <svg width='38px'>
                <use xlink:href='#arrow'></use>
            </svg>
        </button>
    </section>
</div>