<section class="hss-screen">
    <div class="hss-back-banner">
        <img src="img/bg/slide-11.jpg" alt="bg" class="hss-back-banner__img">
    </div>
    <div class="hss-screen-wrapper">
        <div class="hss-screen-year">
            2020
        </div>
        <h2 class="hss-screen-main-title">
            The Sports Medicine <br>
            Institute Expands Its <br>
            Reach
        </h2>
        <div class="hss-screen-text hss-screen-text--overflow">
            August, 2019 marked a major milestone for HSS, the nation’s top ranked hospital for orthopedics, as its Sports Medicine Institute expanded to the west side of Manhattan.
        </div>
    </div>
    <button class="hss-slide-arrow" data-slide-arrow>
        <svg width='38px' height='20px'>
            <use xlink:href='#arrow'></use>
        </svg>
    </button>
</section>
