<div class="section section-cat cat-1 cat-2" data-decade="1860">
    <section class="hss-screen hss-screen--dark">
        <div class="hss-back-banner">
            <img src="img/bg/begin-screen.jpg" alt="bg" class="hss-back-banner__img">
        </div>
        <h5 class="hss-screen-title">
            The Early Years
        </h5>
        <div class="hss-screen-wrapper">
            <div class="hss-screen-year">
                1863
            </div>
            <h2 class="hss-screen-main-title">
                The Hospital for the Relief of the Ruptured and Crippled is founded
            </h2>
            <div class="hss-screen-img-wrapper">
                <img src="img/base/hospital.jpg" class="hss-screen-img">
                <p class="hss-screen-img-description">
                    Hospital for the Ruptured and Crippled, 42nd Street between 1st and 2nd Avenue, New York, NY
                </p>
            </div>
            <div class="hss-screen-text hss-screen-text--overflow">
                <p>
                    The Civil War was still being waged when Dr. James Knight and philanthropist Robert M. Hartley fought for something quite different: an orthopedic hospital dedicated to the needs of
                    disabled people.
                </p>
                <p>
                    Opened in a private home in New York City on 42nd Street between 1st and 2nd Avenue with 28 beds, a focus on musculoskeletal disorders, and an infinite amount of compassion, their
                    vision evolved into HSS, the most celebrated and respected hospital of its kind in the world.
                </p>
                <p>
                    In the 157 years since its founding, medicine has evolved, surgery has advanced but one thing will never change: our commitment to excellence above all else.
                </p>
            </div>
            <button class="hss-screen-read-more" data-open="#slide-3-info">
                Read more
            </button>
        </div>
        <button class="hss-slide-arrow" data-slide-arrow>
            <svg width='38px' height='20px'>
                <use xlink:href='#arrow'></use>
            </svg>
        </button>
        <div class="hss-info-screen" data-click-outside data-info-screen id="slide-3-info">
            <button class="hss-info-screen__button" data-close="#slide-3-info" data-close-delay="1500" data-close-styles="animation: from-left 1.5s forwards;">
                <svg>
                    <use xlink:href='#close'></use>
                </svg>
            </button>
            <div class="hss-info-screen__wrapper">
                <p>
                    The Civil War was still being waged when Dr. James Knight and philanthropist Robert M. Hartley fought for something quite different: an orthopedic hospital dedicated to the needs of
                    disabled people.
                </p>
                <p>
                    Opened in a private home in New York City on 42nd Street between 1st and 2nd Avenue with 28 beds, a focus on musculoskeletal disorders, and an infinite amount of compassion, their
                    vision evolved into HSS, the most celebrated and respected hospital of its kind in the world.
                </p>
                <p>
                    In the 157 years since its founding, medicine has evolved, surgery has advanced but one thing will never change: our commitment to excellence above all else.
                </p>
            </div>
        </div>
    </section>
</div>