<section class="hss-screen hss-screen--dark">
    <div class="hss-back-banner">
        <img src="img/bg/slide-5.jpg" alt="bg" class="hss-back-banner__img">
    </div>
    <div class="hss-screen-wrapper">
        <div class="hss-screen-year">
            1890
        </div>
        <h2 class="hss-screen-main-title">
            First Orthopedic <br>
            Residency Established at HSS
        </h2>
        <div class="hss-screen-img-wrapper">
            <img src="img/base/slide-5.jpg" class="hss-screen-img">
        </div>
        <div class="hss-screen-text">
            Virgil Gibney was responsible for establishing the first orthopedic residency in the U.S. It began as a one-year program in which young physicians actually lived in the Hospital while caring for patients — this was, in fact, the first use of the term “residency.”
        </div>
    </div>
    <button class="hss-slide-arrow" data-slide-arrow>
        <svg width='38px' height='20px'>
            <use xlink:href='#arrow'></use>
        </svg>
    </button>
</section>
