<div class="section section-cat cat-2" data-decade="2010">
    <section class="hss-screen">
        <div class="hss-back-banner">
            <img src="img/bg/slide-9.jpg" alt="bg" class="hss-back-banner__img">
        </div>
        <div class="hss-screen-wrapper">
            <div class="hss-screen-year">
                2010
            </div>
            <h2 class="hss-screen-main-title">
                Brian C. Halpern elected <br>
                President, American Medical <br>
                Society for Sports Medicine <br>
                (AMSSM)
            </h2>
            <div class="hss-screen-text hss-screen-text--overflow">
                To serve in a leadership role within a subspecialty sports medicine society is recognition by national and international thought leaders that a member is at the very top of his profession. It is also the measurement that sets one sports medicine service apart from others, with HSS faculty elected presidents of sports medicine societies more than any other North American faculty.
            </p>
            <button
                class="hss-screen-read-more"
                data-open="#slide-9-info"
            >
                Read more
            </button>
        </div>
        <button class="hss-slide-arrow" data-slide-arrow>
            <svg width='38px' height='20px'>
                <use xlink:href='#arrow'></use>
            </svg>
        </button>
        <div class="hss-info-screen" data-click-outside data-info-screen id="slide-9-info">
            <button class="hss-info-screen__button" data-close="#slide-9-info" data-close-delay="1500" data-close-styles="animation: from-left 1.5s forwards;">
                <svg>
                    <use xlink:href='#close'></use>
                </svg>
            </button>
            <div class="hss-info-screen__wrapper">
                <p>
                    August, 2019 marked a major milestone for HSS, the nation’s top ranked hospital for orthopedics, as its Sports Medicine Institute expanded to the west side of Manhattan.
                </p>
                <p>
                    Significantly, our years of experience treating professional athletes whose livelihoods depend on recovery have taught us techniques and procedures that were previously unavailable to the everyday athlete.
                </p>
                <p>
                    “Athletes and active people pose unique challenges, and our team of outstanding physicians work intimately with top physiotherapists, performance trainers, nurses, and nutritionists to provide seamless diagnosis and treatment,” said David W. Altchek, MD, sports medicine surgeon at HSS. “From initial diagnosis through every step in their treatment and recovery, the same level of attention is given to all levels of athletes.”
                </p>
            </div>
        </div>
    </section>
</div>