<div class="section section-cat cat-2" data-decade="1880">    
    <section class="hss-screen">
        <div class="hss-back-banner">
            <img src="img/bg/slide-4.jpg" alt="bg" class="hss-back-banner__img">
        </div>
        <div class="hss-screen-wrapper">
            <div class="hss-screen-year">
                1887
            </div>
            <h2 class="hss-screen-main-title">
                Virgil P. Gibney, MD <br>
                Named Surgeon in Chief
            </h2>
            <div class="hss-screen-img-wrapper">
                <img src="img/base/slide-4.png" class="hss-screen-img">
            </div>
            <div class="hss-screen-text">
                An early HSS pioneer, Virgil P. Gibney, MD, became the second Surgeon-in-Chief in 1887 and held the position 40 years. He he led the effort to expand the Hospital from a local, crippled children’s hospital to an internationally renowned center for the treatment of musculoskeletal diseases.
            </div>
        </div>
        <button class="hss-slide-arrow" data-slide-arrow>
            <svg width='38px' height='20px'>
                <use xlink:href='#arrow'></use>
            </svg>
        </button>
    </section>
</div>