<section class="hss-screen">
    <div class="hss-back-banner">
        <img src="img/bg/slide-7.jpg" alt="bg" class="hss-back-banner__img">
    </div>
    <div class="hss-screen-wrapper">
        <div class="hss-screen-year">
            1980
        </div>
        <h2 class="hss-screen-main-title">
            Russell F. Warren Named <br>
            Chief of Sports Medicine at HSS
        </h2>
        <div class="hss-screen-video hss-screen__video">
            <img src="img/base/video-1.jpg" alt="video" class="hss-screen-video__img">
        </div>
        <div class="hss-screen-text hss-screen-text--overflow">
            <p>
                Why the need for a clinic dedicated to sports medicine? That’s a question Dr. John Marshall answered when he founded the Sports Medicine Clinic in 1971.  Dedicated to the specialized needs of athletic injuries and prevention, today the Sports Medicine Institute at HSS is the preeminent name in the field.
            </p>
            <p>
                Watch the video to see how the the Sports Medicine Institute continues to advance the profession every day.
            </p>
        </div>
    </div>
    <button class="hss-slide-arrow" data-slide-arrow>
        <svg width='38px' height='20px'>
            <use xlink:href='#arrow'></use>
        </svg>
    </button>
</section>