<div class="hss-timeline" id="timeline">
    <div class="hss-timeline__wrapper">
        <button class="hss-timeline__start">
            <span>Intro</span>
        </button>
        <button class="hss-timeline__point filter-btn" data-anchor="1860">
            1860
        </button>
        <button class="hss-timeline__point filter-btn" data-anchor="1880">
            1880
        </button>
        <button class="hss-timeline__point filter-btn" data-anchor="1890">
            1890
        </button>
        <button class="hss-timeline__point filter-btn" data-anchor="1960">
            1960
        </button>
        <button class="hss-timeline__point filter-btn" data-anchor="1970">
            1970
        </button>
        <button class="hss-timeline__point filter-btn" data-anchor="1980">
            1980
        </button>
        <button class="hss-timeline__point filter-btn" data-anchor="2010">
            2010
        </button>
        <button class="hss-timeline__point filter-btn" data-anchor="2020">
            2020
        </button>
        <div class="hss-timeline__pointer"></div>
        <button class="hss-timeline__button" data-open="#hss-filter">
            <span class="hss-timeline__button-text">
                Filter
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><circle cx="25" cy="25" r="25" fill="#fff"/><path fill="none" stroke="#0081c8" stroke-width="2" d="M11 17h28"/><path fill="none" stroke="#0081c8" stroke-width="2" d="M11 25h28"/><path fill="none" stroke="#0081c8" stroke-width="2" d="M11 33h28"/><g class="settings-g-1" fill="#fff" stroke="#0081c8" stroke-width="2"><circle cx="5" cy="5" r="5" stroke="none"/><circle cx="5" cy="5" r="4" fill="none"/></g><g class="settings-g-2" fill="#fff" stroke="#0081c8" stroke-width="2"><circle cx="5" cy="5" r="5" stroke="none"/><circle cx="5" cy="5" r="4" fill="none"/></g></svg>
        </button>
        <div class="hss-filter hss-timeline__filter" id="hss-filter" data-click-outside>
            <div class="hss-filter__wrapper">
                <button class="hss-filter__close-button" data-close="#hss-filter" data-close-delay="1000" data-close-styles="animation: close-filter 1s ease-in-out forwards;">
                    <svg>
                        <use xlink:href='#close'></use>
                    </svg>
                </button>
                <h3 class="hss-filter__title">
                    Event Category
                </h3>
                <div class="hss-filter__filters">
                    <label class="hss-filter__category">
                        <input type="checkbox" class="hss-filter__input" value="1" name="Team Medicine">
                        <span class="hss-filter__input--custom"></span>
                        <span class="hss-filter__category-title">
                            Team Medicine
                        </span>
                    </label>
                    <label class="hss-filter__category">
                        <input type="checkbox" class="hss-filter__input" value="2" name="Research & Innovations">
                        <span class="hss-filter__input--custom"></span>
                        <span class="hss-filter__category-title">
                            Research & Innovations
                        </span>
                    </label>
                    <label class="hss-filter__category">
                        <input type="checkbox" class="hss-filter__input" value="3" name="Primary Sports Medicine">
                        <span class="hss-filter__input--custom"></span>
                        <span class="hss-filter__category-title">
                            Primary Sports Medicine
                        </span>
                    </label>
                    <label class="hss-filter__category">
                        <input type="checkbox" class="hss-filter__input" value="4" name="Women’s Sports">
                        <span class="hss-filter__input--custom"></span>
                        <span class="hss-filter__category-title">
                            Women’s Sports
                        </span>
                    </label>
                    <label class="hss-filter__category">
                        <input type="checkbox" class="hss-filter__input" value="5" name="Medicine">
                        <span class="hss-filter__input--custom"></span>
                        <span class="hss-filter__category-title">
                            Medicine
                        </span>
                    </label>
                    <label class="hss-filter__category">
                        <input type="checkbox" class="hss-filter__input" value="6" name="Famous Athlete Stories Fellows Program">
                        <span class="hss-filter__input--custom"></span>
                        <span class="hss-filter__category-title">
                            Famous Athlete Stories Fellows Program
                        </span>
                    </label>
                    <label class="hss-filter__category">
                        <input type="checkbox" class="hss-filter__input" value="7" name="Empty test">
                        <span class="hss-filter__input--custom"></span>
                        <span class="hss-filter__category-title">
                            Empty test
                        </span>
                    </label>
                </div>
                <button class="hss-reset-button">Reset</button>
            </div>
        </div>
    </div>
</div>
