<%=_.template(require('../templates/header.html'))({
    title: "HSS",
    menu: {}
}) %>

<main class="hss-main">
    <%=_.template(require('../templates/timeline.html'))() %>
    <%=_.template(require('../templates/filters-mobile.html'))() %>
    <div id="fullpage">
        <%=_.template(require('../templates/main-screen.html'))() %>
        <%=_.template(require('../templates/intro-1.html'))() %>
        <%=_.template(require('../templates/intro-2.html'))() %>
        <% for (var i = 1; i <= 9; i++) { %>
            <%=_.template(require('../templates/slide-' + i + '.html'))() %>
        <% } %>
    </div>

</main>

<%=_.template(require('../templates/footer.html'))() %>
